.introduce{
    margin-top: 5%;
}

.introduce div {
	background-color:#ffffff;
	bordor-radius:5px;
	width:auto;
	height:auto;
}

.introduce img{
    margin-top:0px;
    padding-top:0%;
    float:left;
}

.introduce p{
    display:inline-block;
    vertical-align:middle;
}
	
